<div [@slideIn]>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-button expand="block" (click)="irahome()">
      Ir a Home
    </ion-button>
    <ion-button expand="block" color="danger" (click)="logout()">
      Cerrar sesión
    </ion-button>
    <ion-button expand="block" fill="outline" (click)="volver()">
      Volver
    </ion-button>
  </ion-content>
</div>
